USE [master]
GO
/****** Object:  Database [DBcliente]    Script Date: 19/09/2018 19:34:13 ******/
CREATE DATABASE [DBcliente]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBcliente', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DBcliente.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBcliente_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DBcliente_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBcliente].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBcliente]
GO
USE [DBcliente]
GO
/****** Object:  Table [dbo].[tbCliente]    Script Date: 19/09/2018 19:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCliente](
	[id] [int] NOT NULL,
	[nome] [nchar](50) NOT NULL,
	[email] [nchar](50) NOT NULL,
	[cpf] [nchar](15) NOT NULL,
	[carromarca] [nchar](20) NOT NULL,
	[carromodelo] [nchar](30) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
